::-moz-selection {
	color: #eee;
	background: #183f79;
}

::selection {
	color: #eee;
	background: #183f79;
}

.wrapper {
	min-width: 320px;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.container {
	max-width: 1170px;
	margin: 0 auto;
}

.header {
	background: #b07eff;
}
.header__body {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px 0;
}
.header__logo_link {
	color: #fff;
	font-size: 32px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
}

.shop hr {
	border: none;
	background: #7000bf;
	height: 1px;
}

.product-count {
	max-width: 400px;
	padding: 30px;
	margin: 0 auto;
}

.product {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	margin: 15px 0 0 0;
	border: 1px solid #000;
	border-radius: 20px;
}

.product:first-child {
	margin: 0;
}

.cart-container {
	border: 1px solid #7000bf;
	margin-top: 1em;
	padding: 1em;
}

button,
input[type='submit'] {
	border: 1px solid #7000bf;
	color: #fff;
	background: #7000bf;
	padding: 0.6em 1em;
	font-size: 1em;
	line-height: 1;
	border-radius: 1.2em;
	transition: all 0.5s ease-in-out;
}

button:hover,
button:focus,
button:active,
input[type='submit']:hover,
input[type='submit']:focus,
input[type='submit']:active {
	background: #7000bf;
	color: #000;
	cursor: pointer;
}

table {
	margin: 0 0 10px 0;
}

table td,
table th {
	text-align: left;
	padding: 0.25em 1em;
	border-bottom: 1px solid #7000bf;
}

#cart-totals {
	margin: 0 0 0 auto;
}

.cart-buttons {
	display: flex;
	justify-content: flex-end;
	width: auto;
	margin: 0 0 0 auto;
	padding: 10px 0;
}

#empty-cart {
	margin: 0 10px 0 0;
}

table td:nth-last-child(1) {
	text-align: right;
}

.message {
	border: 1px solid #7000bf;
	color: #679996;
	padding: 0.5em 0;
	margin: 1em 0;
	text-align: center;
}

.footer {
	margin: auto 0 0 0;
	background: #b07eff;
}

.footer__body {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px 0;
}

.copyright {
	color: #fff;
	font-size: 18px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}
